<!DOCTYPE html>
<html>
<head>

	<title>Cleanup Crew</title>
	<meta charset='utf-8'>
	<link rel='stylesheet/less' type='text/css' href='index.less'/>

	<script src='./vue.min.js'></script>
	<script src='https://cdn.jsdelivr.net/npm/less@4'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
	<script src='https://cdn.socket.io/4.4.1/socket.io.min.js'></script>
	<script src='https://unpkg.com/feather-icons'></script>

	<link href='https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap' rel='stylesheet'> 

</head>
<body>

<div id='vueapp'>
	<div id='main'>

		<h1>{{ title }}</h1>
	
		<div id='roleview'>
	
			<div v-for='(s, index) in jobs'>
				<h2>{{ s.name }}</h2>
				<p>{{ s.assigned[0] }} <i :style='{ backgroundColor: classes[ s.assigned[1] ].color }'></i></p>
				<div class='absent' @click='absentStudent(index, s.assigned[1])'>Absent!</div>
			</div>
	
		</div>
	
	</div>
	
	<div id='bottom'>
	
		<div id='buttons'>
	
			<div class='mini' @click='historymenu = true; infomenu = false'>
				<i data-feather='rotate-ccw' width='52px' height='52px'></i>
			</div>
			<div id='reroll' @click='nextGroup'>Next Group</div>
			<div class='mini' @click='infomenu = true; historymenu = false'>
				<i data-feather='info' width='52px' height='52px'></i>
			</div>
	
		</div>
	
	</div>

	<div id='menu' v-show='infomenu || historymenu'>

		<div class='leave' @click='closeMenus'>
			<i data-feather='x' width='52px' height='52px'></i>
		</div>

		<div v-show='infomenu'>
			<h1>Cleanup Crew</h1>
			<h2>Written by Ben Uthoff</h2>
			<br><br>
			<div class='button' @click='resetAll'>Reset All</div>
			<div class='button' @click='clearHistory'>Clear History</div>
		</div>

		<div v-show='historymenu'>
			<h1>Group History</h1>
			<br>

			<table v-for='point in history'>

				<tr>
					<td v-for='j in jobs'><b>{{ j.name }}</b></td>
				</tr>
				<tr>
					<td v-for='s in point.jobs'>{{ s.assigned[0] }} <i :style='{ backgroundColor: classes[ s.assigned[1] ].color }'></i></td>
				</tr>

			</table>

		</div>

	</div>

</div>
<script src='./index.js'></script>
<script>
feather.replace({'class': 'icon'});
</script>

</body>
</html>