// Web Client Styling
// by Ben Uthoff

body {

	margin: 30px;
	height: calc(100vh - 64px);
	cursor: default;
	user-select: none;

	font-family: 'Ubuntu', sans-serif;
	background-color: #023047;
	border: solid 2px #219EBC;
	color: white;

	#vueapp {
		height: auto;
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto 200px;
		row-gap: 40px;
		height: calc(100vh - 64px);
	}

	// Color Palette from https://coolors.co/palette/8ecae6-219ebc-023047-ffb703-fb8500

}

#main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

h1 {
	font-size: 60px;
	height: 70px;
	margin-bottom: 74px;
	text-align: center;
}

#roleview {

	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-content: center;

	& > div {
		width: 400px;
		height: 165px;
	}

	h2 {
		font-size: 30px;
		text-align: center;
	}
	p {
		font-size: 24px;
		text-align: center;

		& > i {
			height: 18px;
			width: 18px;
			display: inline-block;
			margin-left: 10px;
			border-radius: 9999px;
		}

	}

}

#bottom {

	display: flex;
	justify-content: center;
	align-items: center;

	margin: 0 40px;
	border-top: solid 2px #219ebc;

}

#buttons {

	display: grid;
	grid-template-columns: 110px 300px 110px;
	column-gap: 30px;
	height: 110px;

	& > * {

		cursor: pointer;
		border: solid 2px #219ebc;
		border-radius: 8px;
		text-align: center;
		transition: 0.1s;

		&:hover {
			color: #ffb803;
			border-color: #fb8600;
		}

		&:active {
			transform: scale(0.95);
		}

	}

	.mini {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#reroll {
		font-size: 36px;
		padding: 30px;
	}

}

#menu {

	position: fixed;
	top: 140px; bottom: 140px;
	left: 160px; right: 160px;
	background-color: #023047;
	border: solid 2px #219ebc;
	border-radius: 12px;
	box-shadow: #000000a1 0 0 20px;
	padding: 40px;

	animation: fadeIn .2s;
	overflow-y: auto;

	.leave {

		position: absolute;
		top: 20px; right: 20px;
		cursor: pointer;
		height: 52px;
		border-radius: 8px;
		transition: 0.1s;
		outline: solid 2px transparent;

		&:hover {
			outline: solid 2px #fb8600;
			color: #ffb803;
		}
		&:active {
			transform: scale(0.95);
		}

	}

	h1 {
		text-align: left;
		margin-top: 0;
		margin-bottom: 26px;
	}

	.button {

		cursor: pointer;
		border: solid 2px #219ebc;
		border-radius: 8px;
		text-align: center;
		transition: 0.1s;
		padding: 20px;
		font-size: 30px;
		margin-bottom: 20px;

		&:hover {
			color: #ffb803;
			border-color: #fb8600;
		}

		&:active {
			transform: scale(0.95);
		}

	}

	table {
		display: block;
		margin-bottom: 40px;
	}

	td {
		border: 1px solid #8ecae6;
		text-align: left;
		padding: 8px;
		background-color: #8ecae62b;

		& > i {
			height: 18px;
			width: 18px;
			display: inline-block;
			margin-left: 10px;
			border-radius: 9999px;
		}

	}

}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}